@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #FFFFE0;

}

h1 {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.Product-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 15px;
  width: 250px;
  height: 350px;
  margin: 10px;
  background-color: white;

}

.Buy-button {
  display: flex;
  flex-direction: row;
  font-size: 19px;
  align-items: center;
  padding: 10px;
}

img {
  width: auto;
  height: 110px;
}

h1 {
  font-size: 22px;
  padding-bottom: 10px;
}

button {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #FAF0E6;
}
